<!--career bridge-->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
            <h2>
            Career Bridge란?
            </h2>
            <p>
                '나는 왜 이 길에 서있나, 이게 정말 나의 길인가? 이 길의 끝에서 내 꿈은 이뤄질까?' 
                <br>- god '길'
            </p>
            <p>
                누구나 자신이 나아갈 길이 어딘지, 그리고 지금 한 선택이 옳은 것인지 고민을 할 것입니다. 바로 여기 Career Bridge는 융인 학생들의 커리어 패스와 각종 에피소드들을 중심으로 여러분들에게 새로운 길을 보여줄 것입니다!
            </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
            <img src="/assets/career.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>