<section id="hero-area" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s">
          <!-- Slider -->
          <section class="cd-intro">
              <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
              <span>Bridge</span><br>
              <span class="cd-words-wrapper">
                  <b class="is-visible">Your Study</b>
                  <b>Your Play</b>
                  <b>Your Career</b>
              </span>
              </h1>
          </section> <!-- cd-intro -->
          <!-- /.slider -->
          <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
              당신과 나 그리고 융합인재학부<br> 우리 모두를 이어줄 새로운 공간!
          </h2>
          <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="/play/index" data-section="#works" >시작하기</a>
        </div>
      </div>
    </div>
  </div>
</section><!--/#main-slider-->

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
            <h2>
            융인 브릿지?
            </h2>
            <p>
                융인 브릿지는 RIAH에서 만들 <b>융합인재학부의 소셜 커뮤니티</b>의 공간입니다!
            </p>
            <p>
                현재까지는 <b>Play Bridge 중에서도 일부 기능만 제공</b> 됩니다. 추후 업데이트를 기대해주세요!
            </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
            <img src="/assets/riah.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
    
