<!--study bridge-->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
            <h2>
            Study Bridge란?
            </h2>
            <p>
                팀플하면서 많이 힘드셨죠? 바로 여기 팀플에 지친 여러분을 위한 새로운 서비스가 곧 개발됩니다.
            </p>
            <p>
                Study Bridge는 PBL(Project Based Learning)을 바탕으로 융인 학생들에게 보람차고 의미있는 스터디를 제공하는 것을 목표로 합니다. 가장 먼저 디제라티와 같은 수업의 팀플에 적용하여 사용할 수 있게 제작중이니 조금만 기다려주세요!
            </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
            <img src="/assets/study.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>